<!DOCTYPE html>
<html>
    <head>
        <title>Angular</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Bootstrap cdn-->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


    </head>

    <body ng-app="myApp" ng-controller="choseRegisterOrLogin">
        <div class="main-block">
            <welcome-message></welcome-message>
            <form action="/">
              <hr>
              <div class="account-type">
                <input type="radio" ng-click="funcToRemveNameForLoginForm()" value="none" id="radioOne" name="account" checked/>
                <label for="radioOne" ng-click="funcToRemveNameForLoginForm()" class="radio">Login</label>
                <input type="radio" ng-click="funcToAddNameForRegisterForm()" value="none" id="radioTwo" name="account" />
                <label  for="radioTwo" ng-click="funcToAddNameForRegisterForm()" class="radio">Register</label>
              </div>
              <hr>

              <label id="icon" ng-show="name" for="name"><i class="fas fa-envelope"></i></label>
              <input type="text" ng-show="name" name="name" id="name" placeholder="Email" required/>

              <label id="icon"  for="name"><i class="fas fa-user"></i></label>
              <input type="text"  name="name" id="name" placeholder="Name" required/>

              <label id="icon" for="name"><i class="fas fa-unlock-alt"></i></label>
              <input type="password" name="name" id="name" placeholder="Password" required/>
              <div class="btn-block">
                <button type="submit" href="/">Submit</button>
              </div>
            </form>
          </div>

    <script src="script.js">

    </script>

    </body>
</html>